body{
    margin: 0;padding: 0;
    background-color: black;
    color: white;
    
}
.content{
    height: 97%;
}
a{
    color: white;
    text-decoration: none;
}
.header{
    width: 100%;
    min-height: 7%;
    height: auto;
}
.content_header{
    
    width: 100%;
    padding: 1%;
    padding-bottom: 0.5%;
    display: inline-flex;
    border-bottom: 1px solid #1d1d1d;
}
.content_header div{
    display: inline-flex;
}
.ogr{
    width: 60%;
    margin: 0 auto;
}

.app_nomo{
    border: 0.5px solid #1d1d1d59;
    /* background-color: rgb(192, 89, 89); */
    border-radius: 15px;
    color: white;
    width: 100%;
    min-height: 10px;
    height: auto;
    padding: 1%;
    margin-top: 1%;
    display: inline-flex;
}
.app_nomo:hover{
    border: 0.2px solid #fff;
}
.icon_app{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.name{
    margin-top: 0;
    margin-left: 2%;
    margin-bottom: 0;
    border-right: 1px solid white;
}
.desc{
    margin-bottom: 0;
    margin-left: 2%;
    margin-top: 0;
    width: 100%;
}
@media screen and (max-width:700px) {
    .ogr{
        width: 98%;
    }
    .content_header{
        padding: 0;
    }
    .content{
        width: 100%;
    }
    .o_p{
        margin-right: 16px;
    }
    .img{
        margin-top: 50%;
    }
    .app_nomo{
        padding: 0;
        display: block;
    }
    .name{
        margin-left: 0;
        border-right: 0;
    }
    .desc{
        margin-left: 0;
        margin-top: 2%;
        border-bottom: 1px solid #1d1d1d;
    }
}
