body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
.header{
    width: 100%;
    min-height: 7%;
    height: auto;
    background-color: whitesmoke;
    background: linear-gradient(to left, #e66465, #9198e5)
    filter: invert(0)
}
.footer{
    bottom: 0;
    width: 100%;
    min-height: 7%;
    height: auto;
    background-color: black;
}
.content_footer{
    width: 100%;
    padding: 1%;
    padding-bottom: 0.5%;
    color: black;
    font-family: sans-serif;
    letter-spacing: 0.15em;
    font-size: 15px;
}
.content_header{
    width: 100%;
    padding: 1%;
    padding-bottom: 0.5%;
    display: inline-block;
    color: black;
    font-family: sans-serif;
    letter-spacing: 0.15em;
    font-size: 20px;
}
.content{
    min-height: 97%;
}
.content_header div{
    display: inline-flex;
}
.ogr{
    width: 90%;
    margin: 0 auto;
}
.ogr2{
    width: 90%;
}
.img{
    width:100%;
    object-fit: cover;
}
.none{
    display: none;
}

.app_nomo{
    /* background-color: rgb(192, 89, 89); */
    color: whitesmoke;
    width: 100%;
    min-height: 10px;
    height: auto;
    padding: 1%;
    margin-top: 1%;
    display: inline-flex;
}

.icon_app{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.icon2_app{
    width: 150px;
    height: 150px;
    border-radius: 22.5px;
}
.name{
    margin-top: 0;
    margin-left: 2%;
    margin-bottom: 0;
    font-family: sans-serif;
}
.name2{
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0;
    color:whitesmoke;
    font-size: 70px;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 0.10em;
}
.desc{
    margin-bottom: 0;
    margin-left: 5%;
    margin-top: 0;
    width: 100%;
    font-family: sans-serif;
}

.apps_head {
    background-color:rgba(208, 208, 208, 0);
    margin-top: 2%;
    margin-left: 5%;
    font-size: 120px;
    color: whitesmoke;
    /* font-family: sans-serif; */
}
.apps_head_info {
    width: 100%;
    padding: 1%;
    margin-top: 1%;
    display: inline-flex;
    min-height: 10px;
    height: auto;
}
.apps_head_info_e {
    color:whitesmoke;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 0.10em;
}
.apps_info {
    margin-left: 5%;
    font-family: sans-serif;
    font-size: larger;
    letter-spacing: 0.10em;
    color:whitesmoke;
}
.block{
   display: inline-flex;
}
.over{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    overflow-y: scroll;
}

@media screen and (max-width:700px) {
    .none{
        display: block;
        margin-top: 44%;
    }
    .ogr{
        width: 100%;
    }
    .content_header{
        padding: 0;
    }
    .content{
        width: 100%;
    }
    .o_p{
        margin-right: 16px;
        display: none;
    }
    .img{
        margin-top: 50%;
    }
    .a{
        margin-right: 5%;
    }
    .app_nomo{
        padding: 0;
        display: block;
    }
    .name{
        margin-left: 0;
        border-right: 0;
    }
    .name2{
        margin-left: 2%;
        border-right: 0;
    }
    .desc{
        margin-left: 0;
        margin-top: 2%;
        border-bottom: 1px solid #1d1d1d;
    }
    
    .apps_head_info_im {
        color:whitesmoke;
        font-size: 20px;
        display: block;
    }
    .block{
        display: block;
    }
    .icon{
        text-align: center;
        margin: 0;
        margin-top: 5%;
    }
    .apps_head_info p{
        font-size: 40px;
    }
}
