body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: black  center center;
    color:whitesmoke;
    font-family: sans-serif;
  }
  a,a:visited {
    text-decoration: none;
    color:whitesmoke;
  }
.block1 {
    position: fixed;
    width: 100%;
    min-height: 3%;
    max-height: 8%;
    top: -5px;
    left:-5px;
    background-color: black;
    z-index: 1;
    color: whitesmoke;
    font-family: sans-serif;
}
#log1 {
    font-size:larger;
        margin: 0 25% auto;
    display: inline-block;
    font-family: sans-serif;
}
#log2 { 
    margin: 0 0 0  auto;
    display: inline-block;  
    font-family: sans-serif;
}
.product {
    margin-top: 5%; 
    font-family: sans-serif;
    height: auto;
    background-color:rgba(208, 208,208, 0);
    font-family: sans-serif;
}

.prodpic{
    margin: auto;
    border-radius: 50%;
    display: inline-block;
    opacity: 1;
    color: whitesmoke;
    font-family: sans-serif;
}
.inf{
    margin:0 auto;
    display: inline-block;
    opacity: 1;
    margin:-25% 35% 0 15%;
    width:50%;
    height: 50%;
    color: whitesmoke;
    font-family: sans-serif;
}
.name_product{
    color: whitesmoke;
    font-size: 25px;
    font-family: sans-serif;
    
}
.inf_product{
     color: whitesmoke;
    font-size: 15px; 
    font-family: sans-serif;
    
}

