body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: black url(pic3.png) center center no-repeat;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.block1 {
    position: fixed;
    width: 100%;
    height: 8%;
    top: -5px;
    left:-5px;
    background-color: darkgrey;
    z-index: 1;
}
#log1 {
    position: absolute;
        left:20%;
        top:1%;
        bottom: 1%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
}
#log2 { 
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    display: inline-block;  
    top:1px;
    bottom:1px;
    right:30%;
}
.product {
    margin-top: 10%;
    margin-left: 6%;
    margin-bottom: 6%;
    margin-right:auto;
    background-color:darkgrey;
    opacity: 0.5;
}

.prodpic{
    border-radius: 50%;
    display: inline-block;
    opacity: 1;
}
.inf{
    align-items: center;
    margin-left: -55%;
    margin-bottom: -20%;
    margin-top: -10%;
    margin-right:auto;
    display: inline-block;
    opacity: 1;
}
.name_product{
    font-family: fantasy;
    font-size: 25px;
    align-items: center;
    margin-bottom: auto;
}
.inf_product{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    align-items: center;
    margin-bottom: auto;
}

