body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: black url(pic5.png) center center;
  }
  a {
    text-decoration: none;
  }
.block1 {
    position: fixed;
    width: 100%;
    min-height: 3%;
    max-height: 8%;
    top: -5px;
    left:-5px;
    background-color: black;
    z-index: 1;
    color: whitesmoke;
    font-family: sans-serif;
}
#log1 {
    font-size:larger;
        margin: 0 25% auto;
    display: inline-block;
}
#log2 { 
    margin: 0 0 0  auto;
    display: inline-block;  
}
.apps_head {
    background-color:rgba(208, 208,208, 0.5);
    height: 40%;
    margin-top: 4%;
    font-size: 120px;
}
.apps_head_info_im {
    height:50% ;
    border-radius: 50%; 
    margin: 0 auto;
    display: inline-block;
    font-size: 120px;
}
.apps_head_info {
    font-family: sans-serif;
    font-size: larger;
    color:whitesmoke;
    background-color: yellow;
    margin:0 25% 0 25%;
    display: inline-block;

}
.apps_info {
    font-family: sans-serif;
    font-size: larger;
    color:whitesmoke;

}